.smart-button {
    background-color: yellow;
    width: 600px;
    height: 300px;
    font-size: 70px;
}

.smart-button:hover {
    background-color: black;
    color: yellow;
    width: 600px;
    height: 300px;
    font-size: 70px;
}