button {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 50px;
    width: 400px;
    height: 190px;
    border-radius: 20px;
  }
  
  button:hover {
    color: #fff;
    background: #333;
    
  }
  
  .ButtonClick {
    margin: 200px 300px;
  }